doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title SportTrack
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    nav
      .header
        ul
          li
            a(href='activities') Liste des activités
          li
          li
            a(href='upload')  Ajouter une activité
          li
            a(href='disconnect') Se déconnecter
    br
    br
    br
    block content
