doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title SportTrack
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    nav
      .header
        ul
          li
            a.active(href='/') Accueil
          li
          li
          li
          li
            a(href='create-account') Creer un compte
          li
          li
            a(href='connect-account') Connexion
    br
    br
    br
    block content
