extends layout/main

block content
  center
      h1 Bienvenue sur SportTrack!
    div
      center
        | SportTrack vous permet de suivre vos performances sportives au fil du temps.
        br
        |                 Et grâce à l'application SportTrack sur smartphone, ce suivi peut même se faire en temps réel!
        div
          img(src='/images/sportrack.png')
    footer
      | Par Cedric Simar (B2) et Evan Diberder (B1)
    
