extends layout/connected
block content
	div
		h1 Veuillez upload une activité
		form(action='valid_upload' method='post' enctype='multipart/form-data')
			input#fileToUpload(type='file' name='fileToUpload')
			input(type='submit' value='Upload JSON' name='submit')
			hr
