extends layout/main
block content
	p Liste des utilisateurs
	table()
		thead
			tr
				th Nom
				th Prénom
				th Date de naissance
				th Taille
				th Sexe
				th Poids
				th Email
		tbody
			each val in data
				tr
					td= val.name
					td= val.first_name
					td= val.birthdate
					td= val.height
					td= val.sex
					td= val.weight
					td= val.email
