#myContainer {
  width: 800px;
  height: 800px;
  position: relative;
  background: green;
}

#myAnimation {
  width: 325px;
  height: 355px;
  max-width: 100%;
  position: absolute;
  background-image: url("mario.png");
}
